################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleCrash/vcpkg_installed/x64-windows
/.vs/SampleCrash
/SampleCrash/x64/Debug
/SampleCrash/x64/Release/SampleCrash.tlog
/SampleCrash/x64/Release
/x64
